button {
    color: darkgreen;
    background-color: white;
    border-style: solid;
    border-color: darkgreen;
    padding: 20px;
}


p {
    font-family: monospace;
    background color: white;
    color: darkgreen;
    padding: 10px;
    font-size: 25px;
}

body{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

#trail{
    font-size: 20px;
}

#empty{
    font-size: 40px;
}

#weightinpounds{
    
    font-size: 20px;
}